*.iml
*.ipr
*.iws
*.log
*jar
.DS_Store
.lein-deps-sum
.lein-env
.lein-failures
.lein-plugins/*
.lein-repl-history
.nrepl-port
.sass-cache/
/logs
/log
app/dev/css/
app/dev/js/
app/prod/css/
app/prod/js/
classes/*
electron/*
lib/*
madek-app-darwin-x64/
madek-exporter-darwin-x64/
madek-exporter-linux-x64/
node_modules/*
out/*
pom.xml
target/*
tmp/
